div {
    width: 400px;
    height: 200px;
    background-color: #7aa874;
    margin: 10px auto;
    background-image: url(yifei-wong-jUSFqOt3FRQ-unsplash.jpg);
    background-size: contain;
    color: black;
}